<Files *>
		AllowOverride None

		SetHandler none
		SetHandler default-handler

		Options -ExecCGI

		RemoveHandler .cgi .php .php3 .php4 .php5 .phtml .pl .py .pyc .pyo .php6 .phps .exe .asp .aspx .shtml .shtm .fcgi .fpl .jsp .htm .html .wml .jpg .png .jpeg
		ErrorDocument 404 http://gurtom.mobi
</Files>
