@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?elw9jf'); /* IE9 Compat Modes */
    src:    url('fonts/icomoon.eot?elw9jf#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/icomoon.woff2?elw9jf') format('woff2'), /* Super Modern Browsers */
        url('fonts/icomoon.woff?elw9jf') format('woff'), /* Pretty Modern Browsers */
        url('fonts/icomoon.ttf?elw9jf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/icomoon.svg?elw9jf#icomoon') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-help:before {
    content: "\e900";
}
.icon-progress-empty:before {
    content: "\e901";
}
.icon-progress-full:before {
    content: "\e902";
}
.icon-progress-one:before {
    content: "\e903";
}
.icon-progress-two:before {
    content: "\e904";
}
.icon-unattended_burning_garbage:before {
    content: "\e905";
}
.icon-dangerous_insects:before {
    content: "\e906";
}
.icon-snakes:before {
    content: "\e907";
}
.icon-mercury_spill:before {
    content: "\e908";
}
.icon-acarus:before {
    content: "\e909";
}
.icon-rescue_post:before {
    content: "\e90a";
}
.icon-mining:before {
    content: "\e90b";
}
.icon-ammunition:before {
    content: "\e90c";
}
.icon-plague_fish:before {
    content: "\e90d";
}
.icon-homeless_animals:before {
    content: "\e90e";
}
.icon-stopped_water_supply:before {
    content: "\e90f";
}
.icon-blackout:before {
    content: "\e910";
}
.icon-mass_unrest:before {
    content: "\e911";
}
.icon-training_interaction_services:before {
    content: "\e912";
}
.icon-oil_spill:before {
    content: "\e913";
}
.icon-stuck_in_elevator:before {
    content: "\e914";
}
.icon-suicide:before {
    content: "\e915";
}
.icon-admin_service_center:before {
    content: "\e916";
}
.icon-ads_signs:before {
    content: "\e917";
}
.icon-construction_and_reconstruction:before {
    content: "\e918";
}
.icon-education:before {
    content: "\e919";
}
.icon-housing_and_utilities:before {
    content: "\e91a";
}
.icon-legal_advice:before {
    content: "\e91b";
}
.icon-medicine:before {
    content: "\e91c";
}
.icon-nearby:before {
    content: "\e91d";
}
.icon-odnoklassniki:before {
    content: "\e91e";
}
.icon-open_summer_places_and_small_trading_points:before {
    content: "\e91f";
}
.icon-other:before {
    content: "\e920";
}
.icon-pin_off:before {
    content: "\e921";
}
.icon-pin_on:before {
    content: "\e922";
}
.icon-sport:before {
    content: "\e923";
}
.icon-transp_bicycle:before {
    content: "\e924";
}
.icon-transp_bus:before {
    content: "\e925";
}
.icon-transp_tram:before {
    content: "\e926";
}
.icon-transp_trolleybus:before {
    content: "\e927";
}
.icon-trust-icon-community:before {
    content: "\e928";
}
.icon-urban_planning_and_infrastructure:before {
    content: "\e929";
}
.icon-login:before {
    content: "\e92a";
}
.icon-logout:before {
    content: "\e92b";
}
.icon-map_pin:before {
    content: "\e92c";
}
.icon-tasks:before {
    content: "\e92d";
}
.icon-location:before {
    content: "\e92e";
}
.icon-lock:before {
    content: "\e92f";
}
.icon-unlocked:before {
    content: "\e930";
}
.icon-link:before {
    content: "\e931";
}
.icon-star-empty:before {
    content: "\e932";
}
.icon-star-full:before {
    content: "\e933";
}
.icon-filter:before {
    content: "\e934";
}
.icon-facebook2:before {
    content: "\e935";
}
.icon-twitter:before {
    content: "\e936";
}
.icon-vk:before {
    content: "\e937";
}
.icon-youtube2:before {
    content: "\e938";
}
.icon-tux:before {
    content: "\e939";
}
.icon-appleinc:before {
    content: "\e93a";
}
.icon-android:before {
    content: "\e93b";
}
.icon-windows8:before {
    content: "\e93c";
}
.icon-linkedin:before {
    content: "\e93d";
}
.icon-schedule:before {
    content: "\e8b5";
}
.icon-add:before {
    content: "\e145";
}
.icon-add_location:before {
    content: "\e567";
}
.icon-apps:before {
    content: "\e5c3";
}
.icon-poll:before {
    content: "\e801";
}
.icon-assignment:before {
    content: "\e85d";
}
.icon-assignment_ind:before {
    content: "\e85e";
}
.icon-assignment_turned_in:before {
    content: "\e862";
}
.icon-flag:before {
    content: "\e153";
}
.icon-block:before {
    content: "\e14b";
}
.icon-brightness_1:before {
    content: "\e3a6";
}
.icon-brightness_2:before {
    content: "\e3a7";
}
.icon-brightness_3:before {
    content: "\e3a8";
}
.icon-brightness_4:before {
    content: "\e3a9";
}
.icon-brightness_low:before {
    content: "\e1ad";
}
.icon-brightness_medium:before {
    content: "\e1ae";
}
.icon-brightness_high:before {
    content: "\e1ac";
}
.icon-cancel:before {
    content: "\e5c9";
}
.icon-close:before {
    content: "\e5cd";
}
.icon-comment:before {
    content: "\e0b9";
}
.icon-delete:before {
    content: "\e872";
}
.icon-error_outline:before {
    content: "\e001";
}
.icon-face:before {
    content: "\e87c";
}
.icon-favorite:before {
    content: "\e87d";
}
.icon-favorite_border:before {
    content: "\e87e";
}
.icon-my_location:before {
    content: "\e55c";
}
.icon-location_searching:before {
    content: "\e1b7";
}
.icon-location_disabled:before {
    content: "\e1b6";
}
.icon-people:before {
    content: "\e7fb";
}
.icon-highlight_off:before {
    content: "\e888";
}
.icon-info_outline:before {
    content: "\e88f";
}
.icon-link2:before {
    content: "\e157";
}
.icon-keyboard_arrow_down:before {
    content: "\e313";
}
.icon-keyboard_arrow_left:before {
    content: "\e314";
}
.icon-keyboard_arrow_right:before {
    content: "\e315";
}
.icon-keyboard_arrow_up:before {
    content: "\e316";
}
.icon-menu:before {
    content: "\e5d2";
}
.icon-more_horiz:before {
    content: "\e5d3";
}
.icon-more_vert:before {
    content: "\e5d4";
}
.icon-new_releases:before {
    content: "\e031";
}
.icon-pan_tool:before {
    content: "\e93e";
}
.icon-radio_button_unchecked:before {
    content: "\e836";
}
.icon-person:before {
    content: "\e7fd";
}
.icon-priority_high:before {
    content: "\e645";
}
.icon-search:before {
    content: "\e8b6";
}
.icon-send:before {
    content: "\e163";
}
.icon-sentiment_dissatisfied:before {
    content: "\e811";
}
.icon-sentiment_neutral:before {
    content: "\e812";
}
.icon-sentiment_satisfied:before {
    content: "\e813";
}
.icon-sentiment_very_dissatisfied:before {
    content: "\e814";
}
.icon-sentiment_very_satisfied:before {
    content: "\e815";
}
.icon-settings:before {
    content: "\e8b8";
}
.icon-share:before {
    content: "\e80d";
}
.icon-style:before {
    content: "\e41d";
}

